### Exercício de classificação com SKLearn
#### Lendo dados na internet e manipulando os mesmos

In [16]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [17]:
# Trocando os nomes das colunas de inglês para português
# a titulo de usuabilidade pessoal
# Usaremos o mapa para fazer as menções dos novos nomes das colunas
# e posteriormente utilizaremos a funçao rename do pandas

mapa = {"home" : "principal",
        "how_it_works" : "como_funciona",
        "contact" : "contato",
       "bought" : "comprou"
       }
dados = dados.rename(columns = mapa)
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [27]:
# Iremos separar as três primeiras colunas, pois as mesmas são nosso 'x', no caso, as features, e o a ultima 
# coluna é oque queremos prever, se comprou ou não
# como são várias colunas, tem que estar dentro de um arraym por isso [[]]
x = dados[["principal","como_funciona", "contato"]]
y = dados["comprou"]
print('As colunas features são: \n%s\n'%x)
print('A coluna que gostariamos de prever é: \n%s\n'%y)

As colunas features são:
    principal  como_funciona  contato
0           1              1        0
1           1              1        0
2           1              1        0
3           1              1        0
4           1              1        0
..        ...            ...      ...
94          0              0        1
95          1              1        1
96          0              0        1
97          0              1        0
98          0              0        0

[99 rows x 3 columns]

A coluna que gostariamos de prever é:
0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: comprou, Length: 99, dtype: int64

In [20]:
dados.shape

(99, 4)

In [30]:
# como há 99 linhas, pegaremos 75% pra treino e 25% para teste
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print('Treinaremos com %d elementos e testaremos como %d elementos' %(len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos como 24 elementos

In [43]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)*100
print('A acurácia foi: \n%.2f%% ' %acuracia)

A acurácia foi:
95.83%

### Agora utilizando a ferramenta train_test_split

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
# Com a ferramenta train_test_split, toda vez ao rodar o código
# numeros aleatórios são escolhidos, isso infere no resultado a cada rodagem 
# por isso adotado a 'seed' pra definir a ordem dos numeros aleatórios
SEED = 20
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = 20, 
                                                        stratify = y,     # O stratify faz com quea proporção de treino e teste seja a mesma, mas seguindo 'y'
                                                        test_size = 0.25)
modelo = LinearSVC()
modelo.fit(treino_x,treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)*100
print('A acurácia foi: \n%.2f%% ' %acuracia)

A acurácia foi:
96.00%

In [55]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64

In [56]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64